.list {
  margin: 50px 0 70px;
}
.list div {
  border: 2px solid #eaeaea;
  border-radius: 5px;
}
.list h5 {
  width: 120px;
  font-size: 0.9rem;
}
.list button {
  background-color: #a62626;
  color: #fff;
}
.list p {
  color: #a62626;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .list img {
    width: 16px;
  }
  .list div h5 {
    margin-right: 10px;
    font-size: 0.7rem;
  }
  .list div button {
    width: 70px;
    font-size: 0.7rem;
  }
  .list div p {
    font-size: 0.7rem;
    padding-left: 20px;
  }
}
@media screen and (min-width: 500px) and (max-width: 768px) {
  .list div button {
    font-size: 0.7rem;
  }
  .list div p {
    font-size: 0.9rem;
    padding-left: 20px;
  }
}
